{% extends "base.html" %} {% block content %}
<div class="container form-register">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 custom-form-width">
      <!-- Ajuste aquí -->
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Register</h2>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.email.label(class="form-label") }}
              <!-- Input de email con evento oninput para convertir a minúsculas -->
              {{ form.email(class="form-control", oninput="this.value = this.value.toLowerCase()") }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.confirm_password.label(class="form-label") }} {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="d-grid">{{ form.submit(class="btn startTest") }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
